.composition {
  position: relative;

  &-photo {
    width: 55%;
    box-shadow: 0 1.5rem 2rem rgba($color-black, 0.2);
    border-radius: 0.2rem;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--1 {
      top: 0;
      left: -2rem;
    }

    &--2 {
      right: 0;
      top: 2rem;
    }

    &--3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 2rem solid $color-primary-dark;
      z-index: 20;
      transform: scale(1.07) translateY(-.5rem);
    }
  }

  &:hover &-photo:not(:hover) {
    transform: scale(.95);
  }
}
