@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


// Media query manager

/*
0 - 600px         Phone
600 - 900px       Tablet Portrait
900 - 1200px      Tablet Landscape
[1200 -  1800]    normal styles apply
1800px+           Big desktop
*/